<!--<div class="container-scroller" *ngIf="!done">-->
  <!--<div class="container-fluid page-body-wrapper full-page-wrapper">-->
    <!--<div class="content-wrapper d-flex align-items-center auth">-->
      <!--<div class="row flex-grow">-->
        <!--<div class="col-lg-4 mx-auto">-->
          <!--<div class="auth-form-light card text-left p-5">-->
            <!--<div class="brand-logo">-->
              <!--<img src="./assets/images/login_logo.png" alt="logo" />-->
            <!--</div>-->

            <h4 class="card-title" *ngIf="!done">Forgot Password</h4>
            <p class="card-description" *ngIf="!done">Enter your email and username. We'll email instructions on how to reset your
              password.</p>

            <form class="forms-sample" [formGroup]="forgotPasswordForm" *ngIf="!done">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                       [(ngModel)]="user.email"
                       [class.error]="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched">
                <div
                  *ngIf="forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].hasError('required')"
                  class="ui error message">Email is required
                </div>
                <div
                  *ngIf="forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].hasError('email')"
                  class="ui error message">Please enter a valid email
                </div>
              </div>

              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username"
                       formControlName="username" [(ngModel)]="user.username"
                       [class.error]="!forgotPasswordForm.controls['username'].valid && forgotPasswordForm.controls['username'].touched">
                <div
                  *ngIf="forgotPasswordForm.controls['username'].touched && forgotPasswordForm.controls['username'].hasError('required')"
                  class="ui error message">Username is required
                </div>
              </div>

              <div class="button-group ">
                <button type="submit" class="btn btn-info mr-2 text-center"
                        [disabled]="forgotPasswordForm.invalid"
                        (click)="send()">
                  <div class="spinner-border text-info" *ngIf="busy"></div>
                  Send
                </button>
                <button class="btn btn-danger text-center" (click)="home()">Cancel</button>
              </div>
            </form>
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="container-scroller" *ngIf="done">-->
  <!--<div class="container-fluid page-body-wrapper full-page-wrapper">-->
    <!--<div class="content-wrapper d-flex align-items-center auth">-->
      <!--<div class="row flex-grow">-->
        <!--<div class="col-lg-5 mx-auto">-->
          <!--<div class="auth-form-light card text-left p-5">-->
            <!--<div class="brand-logo">-->
              <!--<img src="./assets/images/login_logo.png" alt="logo"/>-->
            <!--</div>-->

            <h4 class="card-title"  *ngIf="done">Thank you</h4>
            <p  *ngIf="done">An email with instructions on how to reset your password has been sent to {{user.email}}.</p>
            <div class="button-group "  *ngIf="done">
              <button class="btn btn-info" (click)="home()">Back</button>
            </div>
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
