<!--<div class="col-12 grid-margin">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <h4 class="card-title">Accounts</h4>
      <p class="card-description"> Manage Accounts</p>
      <div style="float:right">
        <button class="btn btn-info" (click)="showAccountDialog('Add',undefined)">Add</button>
      </div>
      <p *ngIf="accounts.length <= 0">No accounts found.</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="accounts.length > 0">
          <thead>
          <tr>
            <th> Account #</th>
            <th> Account Type</th>
            <th> Owner</th>
            <th> Balance</th>
            <th> Active</th>
            <th> Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let account of accounts; index as i">
            <td>{{account.accountId}}</td>
            <td>{{account.accountType}}</td>
            <td>{{account?.owner?.firstName+" "+account?.owner?.lastName}}</td>
            <td>{{account.balance}}</td>
            <td>
          <span class="badge {{(account.status=='ACTIVE')?'badge-success':'badge-danger'}}">
           {{(account.status=='ACTIVE')?'Yes':'No'}}
           </span>
            </td>
            <td>
              <div class="actions-list">
                <span title="Edit" (click)="showAccountDialog('Edit',account)"><i class="mdi mdi-table-edit"></i></span>
                <span title="Delete" (click)="confirmDelete(account)"><i class="mdi mdi-delete"></i></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<ngx-smart-modal #deleteModal identifier="deleteModal">
  <h3>Deleting</h3>
  <p>Are you sure you want to delete account number <strong>{{accountToDelete?.accountId}}</strong>?</p>

  <button (click)="delete()" class="btn btn-info mr-2">Yes</button>
  <button (click)="deleteModal.close()" class="btn btn-danger">No</button>
</ngx-smart-modal>

<app-account [account]="accountToEdit" [action]="action" (accountChange)="updateAccountList($event)"></app-account>

