<ngx-smart-modal #departmentModal identifier="departmentModal">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{action}} department</h4>
      <form class="forms-sample" [formGroup]="departmentForm">

        <div class="form-group">
          <label for="vendor">Vendor</label>
          <select class="form-control" id="vendor" formControlName="vendor"
                  [ngModel]="department?.vendorId"
                  (ngModelChange)="(department!=undefined)?department.vendorId = $event:''"
                  [class.error]="!departmentForm.controls['vendor'].valid && departmentForm.controls['vendor'].touched">
            <option *ngFor="let vendor of vendors" value="{{vendor.id}}">{{vendor.name}}</option>
          </select>
          <div
            *ngIf="departmentForm.controls['vendor'].touched && departmentForm.controls['vendor'].hasError('required')"
            class="ui error message">Vendor is required
          </div>
        </div>

        <div class="form-group">
          <label for="firstName">Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="name"
                 placeholder="Department Name"
                 [ngModel]="department?.name"
                 (ngModelChange)="(department!=undefined)?department.name = $event:''"
                 [class.error]="!departmentForm.controls['name'].valid && departmentForm.controls['name'].touched">
          <div
            *ngIf="departmentForm.controls['name'].touched && departmentForm.controls['name'].hasError('required')"
            class="ui error message">Department name is required
          </div>
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" formControlName="status"
                  [ngModel]="department?.status"
                  (ngModelChange)="(department!=undefined)?department.status = $event:''"
                  [class.error]="!departmentForm.controls['status'].valid && departmentForm.controls['status'].touched">
            <option>--Select--</option>
            <option value="ACTIVE">Active</option>
            <option value="SUSPENDED">Suspended</option>
          </select>
          <div
            *ngIf="departmentForm.controls['status'].touched && departmentForm.controls['status'].hasError('required')"
            class="ui error message">Status is required
          </div>
        </div>

        <button type="submit" class="btn btn-info mr-2"
                [disabled]="departmentForm.invalid"
                (click)="save()">
          <div class="spinner-border text-info" *ngIf="busy"></div>
          Save
        </button>
        <button class="btn btn-danger" (click)="departmentModal.close()">Cancel</button>
      </form>
    </div>
  </div>
</ngx-smart-modal>


