<!--<div class="container-scroller" *ngIf="!registrationDone">-->
  <!--<div class="container-fluid page-body-wrapper full-page-wrapper">-->
    <!--<div class="content-wrapper d-flex align-items-center auth">-->
      <!--<div class="row flex-grow">-->
        <!--<div class="col-lg-5 mx-auto">-->
          <!--<div class="auth-form-light card text-left p-5">-->
            <!--<div class="brand-logo">-->
              <!--<img src="./assets/images/login_logo.png" alt="logo"/>-->
            <!--</div>-->

            <h4 class="card-title" *ngIf="!registrationDone">Registration</h4>

            <form class="forms-sample" [formGroup]="registerForm" *ngIf="!registrationDone">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName"
                       placeholder="First Name"
                       [(ngModel)]="user.firstName"
                       [class.error]="!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched">
                <div
                  *ngIf="registerForm.controls['firstName'].touched && registerForm.controls['firstName'].hasError('required')"
                  class="ui error message">First name is required
                </div>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                       formControlName="lastName"
                       [(ngModel)]="user.lastName"
                       [class.error]="!registerForm.controls['lastName'].valid && registerForm.controls['lastName'].touched">
                <div
                  *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].hasError('required')"
                  class="ui error message">Last name is required
                </div>
              </div>

              <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" formControlName="gender" [(ngModel)]="user.gender"
                        [class.error]="!registerForm.controls['gender'].valid && registerForm.controls['gender'].touched">
                  <option value="1">Male</option>
                  <option value="0">Female</option>
                </select>
                <div
                  *ngIf="registerForm.controls['gender'].touched && registerForm.controls['gender'].hasError('required')"
                  class="ui error message">Gender is required
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                       [(ngModel)]="user.email"
                       [class.error]="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
                <div
                  *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('required')"
                  class="ui error message">Email is required
                </div>
                <div
                  *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('email')"
                  class="ui error message">Please enter a valid email
                </div>
              </div>

              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username"
                       formControlName="username" [(ngModel)]="user.username"
                       [class.error]="!registerForm.controls['username'].valid && registerForm.controls['username'].touched">
                <div
                  *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].hasError('required')"
                  class="ui error message">Username is required
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password"
                       formControlName="password" [(ngModel)]="user.password"
                       [class.error]="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
                <div
                  *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('required')"
                  class="ui error message">Password is required
                </div>

                <div
                  *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('minlength')"
                  class="ui error message">Password must be at least 6 characters
                </div>

              </div>

              <div class="form-group">
                <label for="passwordConfirm">Password Confirm</label>
                <input type="password" class="form-control" id="passwordConfirm" placeholder="Password"
                       formControlName="passwordConfirm" [(ngModel)]="passwordConfirm">
                <div
                  *ngIf="registerForm.controls['passwordConfirm'].touched && registerForm.controls['passwordConfirm'].hasError('required')"
                  class="ui error message">Password confirmation required
                </div>

                <div
                  *ngIf="registerForm.controls['passwordConfirm'].touched && registerForm.controls['passwordConfirm'].hasError('passwordmatch')"
                  class="ui error message">Passwords don't match
                </div>

              </div>

              <button type="submit" class="btn btn-info mr-2"
                      [disabled]="registerForm.invalid"
                      (click)="register()">
                <div class="spinner-border text-light" *ngIf="busy"></div>
                Register
              </button>
              <button class="btn btn-danger" (click)="home()">Cancel</button>
            </form>
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="container-scroller" *ngIf="registrationDone">-->
  <!--<div class="container-fluid page-body-wrapper full-page-wrapper">-->
    <!--<div class="content-wrapper d-flex align-items-center auth">-->
      <!--<div class="row flex-grow">-->
        <!--<div class="col-lg-6 mx-auto">-->
          <!--<div class="auth-form-light card text-left p-5">-->
            <!--<div class="brand-logo">-->
              <!--<img src="./assets/images/login_logo.png" alt="logo"/>-->
            <!--</div>-->

            <h4 class="card-title" *ngIf="registrationDone">Registration Successful</h4>
               <span *ngIf="registrationDone">
              <p>Welcome {{user.firstName+" "+user.lastName}}.</p>
              <p>An activation email has been sent to {{user.email}}.</p>
              <p>Please click the link in the email to activate your account.</p>
                </span>

            <div class="button-group "  *ngIf="registrationDone">
              <button class="btn btn-info" (click)="home()">Back</button>
            </div>
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
