<!--<div class="col-12 grid-margin">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <h4 class="card-title">Instructions</h4>
      <p class="card-description"> Manage Instructions</p>
      <div style="float:right">
        <button class="btn btn-info" (click)="showInstructionDialog('Add',undefined)">Add</button>
      </div>
      <p *ngIf="instructions.length <= 0">No instructions found.</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="instructions.length > 0">
          <thead>
          <tr>
            <th> Name</th>
            <th> Type</th>
            <th> Create Date</th>
            <th> Execution Date</th>
            <th> Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let instruction of instructions; index as i">
            <td>{{instruction.name}}</td>
            <td>{{instruction.instructionType}}</td>
            <td>{{instruction?.instructionCreationDate | date:'y-MM-dd'}}</td>
            <td>{{instruction?.instructionExecutionDate | date:'y-MM-dd'}}</td>
            <td>
          <span class="badge {{(instruction?.status=='ACTIVE')?'badge-success':'badge-danger'}}">
           {{(instruction?.status=='ACTIVE')?'Yes':'No'}}
           </span>
            </td>
            <td>
              <div class="actions-list">
                <span title="Edit" (click)="showInstructionDialog('Edit',instruction)"><i class="mdi mdi-table-edit"></i></span>
                <span title="Delete" (click)="confirmDelete(instruction)"><i class="mdi mdi-delete"></i></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<ngx-smart-modal #deleteModal identifier="deleteModal">
  <h3>Deleting</h3>
  <p>Are you sure you want to delete instruction number <strong>{{instructionToDelete?.instructionId}}</strong>?</p>

  <button (click)="delete()" class="btn btn-info mr-2">Yes</button>
  <button (click)="deleteModal.close()" class="btn btn-danger">No</button>
</ngx-smart-modal>

<app-instruction [instruction]="instructionToEdit" [action]="action" (instructionChange)="updateInstructionList($event)"></app-instruction>

