<ngx-smart-modal #userModal identifier="userModal">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{action}} user</h4>
      <!--<p class="card-description">{{action}} user</p>-->
      <form class="forms-sample" [formGroup]="userForm">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName"
                     placeholder="First Name"
                     [ngModel]="user?.firstName"
                     (ngModelChange)="(user!=undefined)?user.firstName = $event:''"
                     [class.error]="!userForm.controls['firstName'].valid && userForm.controls['firstName'].touched">
              <div
                *ngIf="userForm.controls['firstName'].touched && userForm.controls['firstName'].hasError('required')"
                class="ui error message">First name is required
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                     formControlName="lastName"
                     [ngModel]="user?.lastName"
                     (ngModelChange)="(user!=undefined)?user.lastName = $event:''"
                     [class.error]="!userForm.controls['lastName'].valid && userForm.controls['lastName'].touched">
              <div
                *ngIf="userForm.controls['lastName'].touched && userForm.controls['lastName'].hasError('required')"
                class="ui error message">Last name is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender" formControlName="gender"
                      [ngModel]="user?.gender"
                      (ngModelChange)="(user!=undefined)?user.gender = $event:''"
                      [class.error]="!userForm.controls['gender'].valid && userForm.controls['gender'].touched">
                <option>--Select--</option>
                <option>Male</option>
                <option>Female</option>
              </select>
              <div
                *ngIf="userForm.controls['gender'].touched && userForm.controls['gender'].hasError('required')"
                class="ui error message">Gender is required
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                     [ngModel]="user?.email"
                     (ngModelChange)="(user!=undefined)?user.email = $event:''"
                     [class.error]="!userForm.controls['email'].valid && userForm.controls['email'].touched">
              <div
                *ngIf="userForm.controls['email'].touched && userForm.controls['email'].hasError('required')"
                class="ui error message">Email is required
              </div>
              <div
                *ngIf="userForm.controls['email'].touched && userForm.controls['email'].hasError('email')"
                class="ui error message">Please enter a valid email
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="role">Role</label>
              <select class="form-control" id="role" formControlName="role"
                      [ngModel]="user?.role"
                      (ngModelChange)="(user!=undefined)?user.role = $event:''">
                <option>--Select--</option>
                <option *ngFor="let r of roleNames">
                  {{r}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group" *ngIf="user?.role != 'CLIENT_USER'">
              <label for="vendor">Vendor</label>
              <select class="form-control" id="vendor" formControlName="vendor"
                      [ngModel]="user?.vendorId"
                      (ngModelChange)="(user!=undefined)?user.vendorId = $event:''"
                      [class.error]="!userForm.controls['vendor'].valid && userForm.controls['vendor'].touched"
                      (change)="loadDepartments()">
                <option>--Select--</option>
                <option *ngFor="let vendor of vendors" value="{{vendor.id}}">{{vendor.name}}</option>
              </select>
              <div
                *ngIf="userForm.controls['vendor'].touched && userForm.controls['vendor'].hasError('required')"
                class="ui error message">Vendor is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6" *ngIf="currentUser()!=undefined
                                      && (currentUser().role == 'VENDOR_ADMIN' || currentUser().role == 'DEPT_ADMIN'
                                       || currentUser().role == 'DEPT_USER')
                                      && user?.role != 'CLIENT_USER'">
            <div class="form-group">
              <label for="department">Department</label>
              <select class="form-control" id="department" formControlName="department"
                      [ngModel]="user?.departmentId"
                      (ngModelChange)="(user!=undefined)?user.departmentId = $event:''">
                <option>--Select--</option>
                <option *ngFor="let dpt of departments" value="{{dpt.id}}">{{dpt.name}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" id="status" formControlName="status"
                      [ngModel]="user?.status"
                      (ngModelChange)="(user!=undefined)?user.status = $event:''">
                <option>--Select--</option>
                <option>ACTIVE</option>
                <option>INACTIVE</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username"
                     formControlName="username"
                     [ngModel]="user?.username"
                     (ngModelChange)="(user!=undefined)?user.username = $event:''"
                     [class.error]="!userForm.controls['username'].valid && userForm.controls['username'].touched">
              <div
                *ngIf="userForm.controls['username'].touched && userForm.controls['username'].hasError('required')"
                class="ui error message">Username is required
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password"
                     formControlName="password"
                     [ngModel]="user?.password"
                     (ngModelChange)="(user!=undefined)?user.password = $event:''"
                     [class.error]="!userForm.controls['password'].valid && userForm.controls['password'].touched">
              <div
                *ngIf="userForm.controls['password'].touched && userForm.controls['password'].hasError('required')"
                class="ui error message">Password is required
              </div>

              <div
                *ngIf="userForm.controls['password'].touched && userForm.controls['password'].hasError('minlength')"
                class="ui error message">Password must be at least 6 characters
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="passwordConfirm">Password Confirm</label>
              <input type="password" class="form-control" id="passwordConfirm" placeholder="Password"
                     formControlName="passwordConfirm"
                     [(ngModel)]="passwordConfirm">
              <div
                *ngIf="userForm.controls['passwordConfirm'].touched && userForm.controls['passwordConfirm'].hasError('required')"
                class="ui error message">Password confirmation required
              </div>

              <div
                *ngIf="userForm.controls['passwordConfirm'].touched && userForm.controls['passwordConfirm'].hasError('passwordmatch')"
                class="ui error message">Passwords don't match
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-info mr-2"
                [disabled]="userForm.invalid"
                (click)="save()">
          <div class="spinner-border text-info" *ngIf="busy"></div>
          Save
        </button>
        <button class="btn btn-danger" (click)="userModal.close()">Cancel</button>
      </form>
    </div>
  </div>
</ngx-smart-modal>


