<!--<div class="col-12 grid-margin">-->
  <!--<div class="card xstretch-card">-->
    <!--<div class="card-body">-->
      <h4 class="card-title">Users</h4>
      <p class="card-description"> Manage Users</p>
      <div style="float:right">
        <button class="btn btn-info" (click)="showUserDialog('Add',undefined)">Add</button>
      </div>
      <p *ngIf="users.length <= 0">No users found.</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="users.length > 0">
          <thead>
          <tr>
            <th> #</th>
            <th> Name</th>
            <!--<th> Vendor</th>-->
            <!--<th> Department</th>-->
            <th> Role</th>
            <th> Active</th>
            <th> Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; index as i">
            <td>{{i+1}}</td>
            <td>{{user.firstName+' '+user.lastName}}</td>
            <td>
              <span [class]="getClass(user?.role)" (click)="showVendorDgl(user)"><i class="mdi mdi-home">{{userRoles[user?.role]}}</i></span><br/>
            </td>
            <td>
          <span class="badge {{(user.status=='ACTIVE')?'badge-success':'badge-danger'}}">
           {{(user.status=='ACTIVE')?'Yes':'No'}}
           </span>
            </td>
            <td>
              <div class="actions-list">
                <span title="Edit" (click)="showUserDialog('Edit',user)"><i class="mdi mdi-table-edit"></i></span>
                <span title="Delete" (click)="confirmDelete(user)"><i class="mdi mdi-delete"></i></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<ngx-smart-modal #deleteModal identifier="deleteModal">
  <h3>Deleting</h3>
  <p>Are you sure you want to delete <strong>{{userToDelete?.firstName}} {{userToDelete?.lastName}}</strong>?</p>

  <button (click)="delete()" class="btn btn-info mr-2">Yes</button>
  <button (click)="deleteModal.close()" class="btn btn-danger">No</button>
</ngx-smart-modal>

<app-user [user]="userToEdit" [action]="action" (userChange)="updateUserList($event)"></app-user>

<ngx-smart-modal #vendorDeptModal identifier="vendorDeptModal">
  <h3>User Role</h3>

  <div class="container" *ngIf="selectedUser">
    <div class="row">
      <div class="col-sm">
        Role:
      </div>
      <div class="col-sm">
        {{selectedUser?.role}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        Vendor:
      </div>
      <div class="col-sm">
        {{getVendorName(selectedUser.vendorId)}}
      </div>
    </div>

    <div class="row" *ngIf="selectedUser.departmentId">
      <div class="col-sm">
        Department:
      </div>
      <div class="col-sm">
        {{getDepartmentName(selectedUser.departmentId)}}
      </div>
    </div>
  </div>

  <button (click)="vendorDeptModal.close()" class="btn btn-info mr-2">Close</button>
</ngx-smart-modal>
