<!--<div class="col-12 grid-margin">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <h4 class="card-title">Departments</h4>
      <p class="card-description"> Manage Departments</p>
      <div style="float:right">
        <button class="btn btn-info" (click)="showDepartmentDialog('Add',undefined)">Add</button>
      </div>
      <p *ngIf="departments.length <= 0">No departments found.</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="departments.length > 0">
          <thead>
          <tr>
            <th> #</th>
            <th> Name</th>
            <th> Status</th>
            <th> Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let department of departments; index as i">
            <td>{{i+1}}</td>
            <td>{{department.name}}</td>
            <td>
          <span class="badge {{(lowerCase(department.status)=='active')?'badge-success':'badge-danger'}}">
           {{department.status | uppercase}}
           </span>
            </td>
            <td>
              <div class="actions-list">
                <span title="Edit" (click)="showDepartmentDialog('Edit',department)"><i class="mdi mdi-table-edit"></i></span>
                <span title="Delete" (click)="confirmDelete(department)"><i class="mdi mdi-delete"></i></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<ngx-smart-modal #deleteModal identifier="deleteModal">
  <h3>Deleting</h3>
  <p>Are you sure you want to delete <strong>{{departmentToDelete?.name}}</strong>?</p>

  <button (click)="delete()" class="btn btn-info mr-2">Yes</button>
  <button (click)="deleteModal.close()" class="btn btn-danger">No</button>
</ngx-smart-modal>

<app-department [department]="departmentToEdit" [action]="action" (departmentChange)="updateDepartmentList($event)"></app-department>
