<ngx-smart-modal #parameterModal identifier="parameterModal">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{action}} parameter</h4>
      <form class="forms-sample" [formGroup]="parameterForm">

        <div class="form-group">
          <label for="parameterName">Name</label>
          <input type="text" class="form-control" id="parameterName" placeholder="Name"
                 formControlName="parameterName"
                 [ngModel]="parameter?.parameterName"
                 (ngModelChange)="(parameter!=undefined)?parameter.parameterName = $event:''"
                 [class.error]="!parameterForm.controls['parameterName'].valid && parameterForm.controls['parameterName'].touched">
          <div
            *ngIf="parameterForm.controls['parameterName'].touched && parameterForm.controls['parameterName'].hasError('required')"
            class="ui error message">Parameter name is required
          </div>
        </div>

        <div class="form-group">
          <label for="parameterFieldName">Field Name</label>
          <input type="text" class="form-control" id="parameterFieldName" placeholder="Field Name"
                 formControlName="parameterFieldName"
                 [ngModel]="parameter?.parameterFieldName"
                 (ngModelChange)="(parameter!=undefined)?parameter.parameterFieldName = $event:''"
                 [class.error]="!parameterForm.controls['parameterFieldName'].valid && parameterForm.controls['parameterFieldName'].touched">
          <div
            *ngIf="parameterForm.controls['parameterFieldName'].touched && parameterForm.controls['parameterFieldName'].hasError('required')"
            class="ui error message">Field Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="parameterValue">Parameter Value</label>
          <input type="text" class="form-control" id="parameterValue" placeholder="Parameter Value"
                 formControlName="parameterValue"
                 [ngModel]="parameter?.parameterValue"
                 (ngModelChange)="(parameter!=undefined)?parameter.parameterValue = $event:''"
                 [class.error]="!parameterForm.controls['parameterValue'].valid && parameterForm.controls['parameterValue'].touched">
          <div
            *ngIf="parameterForm.controls['parameterValue'].touched && parameterForm.controls['parameterValue'].hasError('required')"
            class="ui error message">Parameter value is required
          </div>
        </div>

        <div class="form-group">
          <label for="parameterValueType">Parameter Value Type</label>
          <select class="form-control" id="parameterValueType" formControlName="parameterValueType"
                  [ngModel]="parameter?.parameterValueType"
                  (ngModelChange)="(parameter!=undefined)?parameter.parameterValueType = $event:''">
            <option>_CLASS</option>
            <option>STRING_VALUE</option>
            <option>DECIMAL_VALUE</option>
            <option>INT_VALUE</option>
            <option>DATE_VALUE</option>
          </select>
          <div
            *ngIf="parameterForm.controls['parameterValueType'].touched && parameterForm.controls['parameterValueType'].hasError('required')"
            class="ui error message">Parameter value type is required
          </div>
        </div>

        <div class="form-group">
          <label for="filterCondition">Filter Condition</label>
          <input type="text" class="form-control" id="filterCondition" placeholder="Filter Condition"
                 formControlName="filterCondition"
                 [ngModel]="parameter?.filterCondition"
                 (ngModelChange)="(parameter!=undefined)?parameter.filterCondition = $event:''"
                 [class.error]="!parameterForm.controls['filterCondition'].valid && parameterForm.controls['filterCondition'].touched">
          <div
            *ngIf="parameterForm.controls['filterCondition'].touched && parameterForm.controls['filterCondition'].hasError('required')"
            class="ui error message">Filter Condition
          </div>
        </div>

        <div class="form-group">
          <label for="nextJoinType">Next Join Type</label>
          <select class="form-control" id="nextJoinType" formControlName="nextJoinType"
                  [ngModel]="parameter?.nextJoinType"
                  (ngModelChange)="(parameter!=undefined)?parameter.nextJoinType = $event:''">
            <option>AND</option>
            <option>OR</option>
            <option>NONE</option>
          </select>
          <div
            *ngIf="parameterForm.controls['nextJoinType'].touched && parameterForm.controls['nextJoinType'].hasError('required')"
            class="ui error message">Next join type is required
          </div>
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" formControlName="status"
                  [ngModel]="parameter?.status"
                  (ngModelChange)="(parameter!=undefined)?parameter.status = $event:''">
            <option>ACTIVE</option>
            <option>INACTIVE</option>
          </select>
        </div>

        <button type="submit" class="btn btn-info mr-2"
                [disabled]="parameterForm.invalid"
                (click)="save()">
          <div class="spinner-border text-info" *ngIf="busy"></div>
          Save
        </button>
        <button class="btn btn-danger" (click)="parameterModal.close()">Cancel</button>
      </form>
    </div>
  </div>
</ngx-smart-modal>
