<ngx-smart-modal #commandModal identifier="commandModal">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{action}} command</h4>
      <form class="forms-sample" [formGroup]="commandForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name"
                 formControlName="name"
                 [ngModel]="command?.name"
                 (ngModelChange)="(command!=undefined)?command.name = $event:''"
                 [class.error]="!commandForm.controls['name'].valid && commandForm.controls['name'].touched">
          <div
            *ngIf="commandForm.controls['name'].touched && commandForm.controls['name'].hasError('required')"
            class="ui error message">Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="commandSource">Command Source</label>
          <select class="form-control" id="commandSource" formControlName="commandSource"
                  [ngModel]="command?.commandSource"
                  (ngModelChange)="(command!=undefined)?command.commandSource = $event:''">
            <option>PROCESS</option>
            <option>STAFF</option>
            <option>CUSTOMER</option>
            <option>INTERNAL</option>
            <option>SYSTEM</option>
            <option>AUTOMATIC</option>
          </select>
          <div
            *ngIf="commandForm.controls['commandSource'].touched && commandForm.controls['commandSource'].hasError('required')"
            class="ui error message">Command source is required
          </div>
        </div>

        <div class="form-group">
          <label for="commandCreationDate">Create Date</label>
          <div class="input-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Create Date"
                     [class.error]="!commandForm.controls['commandCreationDate'].valid && commandForm.controls['commandCreationDate'].touched"
                     id="commandCreationDate" formControlName="commandCreationDate"
                     [ngModel]="command?.commandCreationDate"
                     (ngModelChange)="(command!=undefined)?command.commandCreationDate = $event:''">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div
              *ngIf="commandForm.controls['commandCreationDate'].touched && commandForm.controls['commandCreationDate'].hasError('required')"
              class="ui error message">Create date is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="command">Status</label>
          <select class="form-control" id="status" formControlName="status"
                  [ngModel]="command?.status"
                  (ngModelChange)="(command!=undefined)?command.status = $event:''">
            <option>ACTIVE</option>
            <option>INACTIVE</option>
          </select>
        </div>

        <button type="submit" class="btn btn-info mr-2"
                [disabled]="commandForm.invalid"
                (click)="save()">
          <div class="spinner-border text-info" *ngIf="busy"></div>
          Save
        </button>
        <button class="btn btn-danger" (click)="commandModal.close()">Cancel</button>
      </form>
    </div>
  </div>
</ngx-smart-modal>
