<!--<div class="col-12 grid-margin">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <h4 class="card-title">Commands</h4>
      <p class="card-description"> Manage Commands</p>
      <div style="float:right">
        <button class="btn btn-info" (click)="showCommandDialog('Add',undefined)">Add</button>
      </div>
      <p *ngIf="commands.length <= 0">No commands found.</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="commands.length > 0">
          <thead>
          <tr>
            <th> Name</th>
            <th> Source</th>
            <th> Create Date</th>
            <th> Status</th>
            <th> Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let command of commands; index as i">
            <td>{{command.name}}</td>
            <td>{{command?.commandSource}}</td>
            <td>{{command?.commandCreationDate | date:'y-MM-dd'}}</td>
            <td>
          <span class="badge {{(command?.status=='ACTIVE')?'badge-success':'badge-danger'}}">
           {{(command?.status=='ACTIVE')?'Yes':'No'}}
           </span>
            </td>
            <td>
              <div class="actions-list">
                <span title="Edit" (click)="showCommandDialog('Edit',command)"><i class="mdi mdi-table-edit"></i></span>
                <span title="Delete" (click)="confirmDelete(command)"><i class="mdi mdi-delete"></i></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<ngx-smart-modal #deleteModal identifier="deleteModal">
  <h3>Deleting</h3>
  <p>Are you sure you want to delete command number <strong>{{commandToDelete?.commandId}}</strong>?</p>

  <button (click)="delete()" class="btn btn-info mr-2">Yes</button>
  <button (click)="deleteModal.close()" class="btn btn-danger">No</button>
</ngx-smart-modal>

<app-command [command]="commandToEdit" [action]="action" (commandChange)="updateCommandList($event)"></app-command>

