<ngx-smart-modal #instructionModal identifier="instructionModal">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{action}} instruction</h4>
      <form class="forms-sample" [formGroup]="instructionForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name"
                 formControlName="name"
                 [ngModel]="instruction?.name"
                 (ngModelChange)="(instruction!=undefined)?instruction.name = $event:''"
                 [class.error]="!instructionForm.controls['name'].valid && instructionForm.controls['name'].touched">
          <div
            *ngIf="instructionForm.controls['name'].touched && instructionForm.controls['name'].hasError('required')"
            class="ui error message">Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="status">Instruction Type</label>
          <select class="form-control" id="instructionType" formControlName="instructionType"
                  [ngModel]="instruction?.instructionType"
                  (ngModelChange)="(instruction!=undefined)?instruction.instructionType = $event:''">
            <option>PROCESS</option>
            <option>VALIDATION</option>
            <option>RULE</option>
            <option>WORKFLOW</option>
          </select>
          <div
            *ngIf="instructionForm.controls['instructionType'].touched && instructionForm.controls['instructionType'].hasError('required')"
            class="ui error message">Instruction Type is required
          </div>
        </div>

        <div class="form-group">
          <label for="instructionCreationDate">Create Date</label>
          <div class="input-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Create Date"
                     [class.error]="!instructionForm.controls['instructionCreationDate'].valid && instructionForm.controls['instructionCreationDate'].touched"
                     id="instructionCreationDate" formControlName="instructionCreationDate"
                     [ngModel]="instruction?.instructionCreationDate"
                     (ngModelChange)="(instruction!=undefined)?instruction.instructionCreationDate = $event:''">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div
              *ngIf="instructionForm.controls['instructionCreationDate'].touched && instructionForm.controls['instructionCreationDate'].hasError('required')"
              class="ui error message">Create date is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="instructionExecutionDate">Execution Date</label>
          <div class="input-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Execution Date"
                     [class.error]="!instructionForm.controls['instructionExecutionDate'].valid && instructionForm.controls['instructionExecutionDate'].touched"
                     id="instructionExecutionDate" formControlName="instructionExecutionDate"
                     [ngModel]="instruction?.instructionExecutionDate"
                     (ngModelChange)="(instruction!=undefined)?instruction.instructionExecutionDate = $event:''">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <div
              *ngIf="instructionForm.controls['instructionExecutionDate'].touched && instructionForm.controls['instructionExecutionDate'].hasError('required')"
              class="ui error message">Execution date is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="instruction">Status</label>
          <select class="form-control" id="status" formControlName="status"
                  [ngModel]="instruction?.status"
                  (ngModelChange)="(instruction!=undefined)?instruction.status = $event:''">
            <option>ACTIVE</option>
            <option>INACTIVE</option>
          </select>
        </div>

        <button type="submit" class="btn btn-info mr-2"
                [disabled]="instructionForm.invalid"
                (click)="save()">
          <div class="spinner-border text-info" *ngIf="busy"></div>
          Save
        </button>
        <button class="btn btn-danger" (click)="instructionModal.close()">Cancel</button>
      </form>
    </div>
  </div>
</ngx-smart-modal>
