<ngx-smart-modal #assetModal identifier="assetModal">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{action}} asset</h4>
      <form class="forms-sample" [formGroup]="assetForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name"
                 formControlName="name"
                 [ngModel]="asset?.name"
                 (ngModelChange)="(asset!=undefined)?asset.name = $event:''"
                 [class.error]="!assetForm.controls['name'].valid && assetForm.controls['name'].touched">
          <div
            *ngIf="assetForm.controls['name'].touched && assetForm.controls['name'].hasError('required')"
            class="ui error message">Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="status">Asset Type</label>
          <select class="form-control" id="assetType" formControlName="assetType"
                  [ngModel]="asset?.assetType"
                  (ngModelChange)="(asset!=undefined)?asset.assetType = $event:''">
            <option>FINANCIAL</option>
            <option>RESIDENCE</option>
            <option>VEHICLE</option>
            <option>PROPERTY</option>
            <option>APPLIANCE</option>
            <option>OTHER</option>
          </select>
          <div
            *ngIf="assetForm.controls['assetType'].touched && assetForm.controls['assetType'].hasError('required')"
            class="ui error message">Asset Type is required
          </div>
        </div>

        <div class="form-group">
          <label for="dateOfPurchase">Date of Purchase</label>
          <div class="input-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date of Purchase"
                     [class.error]="!assetForm.controls['dateOfPurchase'].valid && assetForm.controls['dateOfPurchase'].touched"
                     id="dateOfPurchase" formControlName="dateOfPurchase"
                     [ngModel]="asset?.dateOfPurchase"
                     (ngModelChange)="(asset!=undefined)?asset.dateOfPurchase = $event:''">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div
              *ngIf="assetForm.controls['dateOfPurchase'].touched && assetForm.controls['dateOfPurchase'].hasError('required')"
              class="ui error message">Date of Purchase is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="initialValue">Initial Value</label>
          <input type="text" class="form-control" id="initialValue" placeholder="Initial Value"
                 formControlName="initialValue"
                 [ngModel]="asset?.initialValue"
                 (ngModelChange)="(asset!=undefined)?asset.initialValue = $event:''"
                 [class.error]="!assetForm.controls['initialValue'].valid && assetForm.controls['initialValue'].touched">
          <div
            *ngIf="assetForm.controls['initialValue'].touched && assetForm.controls['initialValue'].hasError('required')"
            class="ui error message">Initial Value is required
          </div>
        </div>

        <div class="form-group">
          <label for="valueOwing">Value Owing</label>
          <input type="text" class="form-control" id="valueOwing" placeholder="Value Owing"
                 formControlName="valueOwing"
                 [ngModel]="asset?.valueOwing"
                 (ngModelChange)="(asset!=undefined)?asset.valueOwing = $event:''"
                 [class.error]="!assetForm.controls['valueOwing'].valid && assetForm.controls['valueOwing'].touched">
          <div
            *ngIf="assetForm.controls['valueOwing'].touched && assetForm.controls['valueOwing'].hasError('required')"
            class="ui error message">Value Owing is required
          </div>
        </div>

        <div class="form-group">
          <label for="currentValue">Current Value</label>
          <input type="text" class="form-control" id="currentValue" placeholder="Current Value"
                 formControlName="currentValue"
                 [ngModel]="asset?.currentValue"
                 (ngModelChange)="(asset!=undefined)?asset.currentValue = $event:''"
                 [class.error]="!assetForm.controls['currentValue'].valid && assetForm.controls['currentValue'].touched">
          <div
            *ngIf="assetForm.controls['currentValue'].touched && assetForm.controls['currentValue'].hasError('required')"
            class="ui error message">Current Value is required
          </div>
        </div>

        <div class="form-group">
          <label for="marketValue">Market value is required</label>
          <input type="text" class="form-control" id="marketValue" placeholder="Market value is required"
                 formControlName="marketValue"
                 [ngModel]="asset?.marketValue"
                 (ngModelChange)="(asset!=undefined)?asset.marketValue = $event:''"
                 [class.error]="!assetForm.controls['marketValue'].valid && assetForm.controls['marketValue'].touched">
          <div
            *ngIf="assetForm.controls['marketValue'].touched && assetForm.controls['marketValue'].hasError('required')"
            class="ui error message">Market value is required
          </div>
        </div>

        <button type="submit" class="btn btn-info mr-2"
                [disabled]="assetForm.invalid"
                (click)="save()">
          <div class="spinner-border text-info" *ngIf="busy"></div>
          Save
        </button>
        <button class="btn btn-danger" (click)="assetModal.close()">Cancel</button>
      </form>
    </div>
  </div>
</ngx-smart-modal>
