<!--<div class="col-12 grid-margin">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <h4 class="card-title">Assets</h4>
      <p class="card-description"> Manage Assets</p>
      <div style="float:right">
        <button class="btn btn-info" (click)="showAssetDialog('Add',undefined)">Add</button>
      </div>
      <p *ngIf="assets.length <= 0">No assets found.</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="assets.length > 0">
          <thead>
          <tr>
            <th> Name</th>
            <th> Type</th>
            <th> Date Of Purchase</th>
            <th> Market Value</th>
            <th> Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let asset of assets; index as i">
            <td>{{asset.name}}</td>
            <td>{{asset.assetType}}</td>
            <td>{{asset?.dateOfPurchase | date:'y-MM-dd'}}</td>
            <td>{{asset.marketValue | currency:'R '}}</td>
            <td>
              <div class="actions-list">
                <span title="Edit" (click)="showAssetDialog('Edit',asset)"><i class="mdi mdi-table-edit"></i></span>
                <span title="Delete" (click)="confirmDelete(asset)"><i class="mdi mdi-delete"></i></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<ngx-smart-modal #deleteModal identifier="deleteModal">
  <h3>Deleting</h3>
  <p>Are you sure you want to delete asset number <strong>{{assetToDelete?.assetId}}</strong>?</p>

  <button (click)="delete()" class="btn btn-info mr-2">Yes</button>
  <button (click)="deleteModal.close()" class="btn btn-danger">No</button>
</ngx-smart-modal>

<app-asset [asset]="assetToEdit" [action]="action" (assetChange)="updateAssetList($event)"></app-asset>

