<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper align-items-center auth body-background">
      <div class="row flex-grow">
        <div class="mx-auto"
             [ngClass]="(router.url == '/register')?'col-lg-5':((router.url == '/login' || router.url == '/forgot-password' || router.url == '/activate-user')?'col-lg-4':'col-lg-10')">
          <div class="auth-form-light card text-left" [ngClass]="(!isAuthenticated())?'p-5':'p-2'">
            <div [ngClass]="(!isAuthenticated())?'brand-logo':''" style="text-align: center">
              <img src="./assets/images/logo.png" alt="logo"/>
            </div>

            <div class="card-title">
              <app-menu></app-menu>
            </div>

            <div class="card-body">
              <router-outlet></router-outlet>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
