.logo-column {
  /*background-image: url(../assets/images/logo_expander.png);*/
}

.logo {
  background-image: url(../assets/images/logo.png)
}

.fill {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*overflow: hidden*/

}
.fill img {
  /*max-height: 300px;*/
  /*width: 100%;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
}
