<!--<div class="col-12 grid-margin">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <h4 class="card-title">Parameters</h4>
      <p class="card-description"> Manage Parameters</p>
      <div style="float:right">
        <button class="btn btn-info" (click)="showParameterDialog('Add',undefined)">Add</button>
      </div>
      <p *ngIf="parameters.length <= 0">No parameters found.</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="parameters.length > 0">
          <thead>
          <tr>
            <th> Name</th>
            <th> Field Name</th>
            <th> Value</th>
            <th> Value Type</th>
            <th> Filter Condition</th>
            <th> Next Join Type</th>
            <th> Active</th>
            <th> Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let parameter of parameters; index as i">
            <td>{{parameter.parameterName}}</td>
            <td>{{parameter.parameterFieldName}}</td>
            <td>{{parameter?.parameterValue}}</td>
            <td>{{parameter?.parameterValueType}}</td>
            <td>{{parameter?.filterCondition}}</td>
            <td>{{parameter?.nextJoinType}}</td>
            <td>
          <span class="badge {{(parameter?.status=='ACTIVE')?'badge-success':'badge-danger'}}">
           {{(parameter?.status=='ACTIVE')?'Yes':'No'}}
           </span>
            </td>
            <td>
              <div class="actions-list">
                <span title="Edit" (click)="showParameterDialog('Edit',parameter)"><i class="mdi mdi-table-edit"></i></span>
                <span title="Delete" (click)="confirmDelete(parameter)"><i class="mdi mdi-delete"></i></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<ngx-smart-modal #deleteModal identifier="deleteModal">
  <h3>Deleting</h3>
  <p>Are you sure you want to delete parameter number <strong>{{parameterToDelete?.parameterId}}</strong>?</p>

  <button (click)="delete()" class="btn btn-info mr-2">Yes</button>
  <button (click)="deleteModal.close()" class="btn btn-danger">No</button>
</ngx-smart-modal>

<app-parameter [parameter]="parameterToEdit" [action]="action" (parameterChange)="updateParameterList($event)"></app-parameter>

