<!--<div class="container-scroller">-->
  <!--<div class="container-fluid page-body-wrapper full-page-wrapper">-->
    <!--<div class="content-wrapper d-flex align-items-center auth">-->
      <!--<div class="row flex-grow">-->
        <!--<div class="col-lg-4 mx-auto">-->
          <!--<div class="auth-form-light card text-left p-5">-->
            <!--<div class="brand-logo">-->
              <!--<img src="./assets/images/login_logo.png" alt="logo" />-->
            <!--</div>-->
            <form class="pt-3" [formGroup]="loginFormGroup">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control form-control-lg" id="username" placeholder="Username" formControlName="username"
                       [(ngModel)]="user.username" [class.error]="!loginFormGroup.controls['username'].valid && loginFormGroup.controls['username'].touched" #username>

                <div *ngIf="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].hasError('required')" class="ui error message">Username is required</div>

              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-lg" id="password" placeholder="Password" formControlName="password"
                [(ngModel)]="user.password" [class.error]="!loginFormGroup.controls['username'].valid && loginFormGroup.controls['username'].touched">
                <div *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].hasError('required')" class="ui error message">Password is required</div>

              </div>
              <div class="mt-3" *ngIf="message">
                <span class="error">{{message}}</span>
              </div>
              <div class="mt-3">
                <input type="submit" class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn" (click)="authenticate()" value="LOGIN">
              </div>
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <div class="spinner-border text-primary" *ngIf="busy"></div>
                </div>
                <a [routerLink]="['/forgot-password']" class="auth-link text-info">Forgot password?</a>
              </div>
              <div class="text-center mt-1"> Don't have an account? <a [routerLink]="['/register']"class="text-info">Register</a>
              </div>
            </form>
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; content-wrapper ends &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; page-body-wrapper ends &ndash;&gt;-->
<!--</div>-->
