<ngx-smart-modal #accountModal identifier="accountModal">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{action}} account</h4>
      <form class="forms-sample" [formGroup]="accountForm">

        <div class="form-group">
          <label for="status">Account Type</label>
          <select class="form-control" id="accountType" formControlName="accountType"
                  [ngModel]="account?.accountType"
                  (ngModelChange)="(account!=undefined)?account.accountType = $event:''">
            <option>DEBIT</option>
            <option>CREDIT</option>
            <option>LOAN</option>
            <option>INVESTMENT</option>
          </select>
          <div
            *ngIf="accountForm.controls['accountType'].touched && accountForm.controls['accountType'].hasError('required')"
            class="ui error message">Account Type is required
          </div>
        </div>

        <div class="form-group">
          <label for="minimumBalance">Minimum Balance</label>
          <input type="text" class="form-control" id="minimumBalance" placeholder="Minimum Balance"
                 formControlName="minimumBalance"
                 [ngModel]="account?.minimumBalance"
                 (ngModelChange)="(account!=undefined)?account.minimumBalance = $event:''"
                 [class.error]="!accountForm.controls['minimumBalance'].valid && accountForm.controls['minimumBalance'].touched">
          <div
            *ngIf="accountForm.controls['minimumBalance'].touched && accountForm.controls['minimumBalance'].hasError('required')"
            class="ui error message">Minimum Balance is required
          </div>
        </div>

        <div class="form-group">
          <label for="balance">Balance</label>
          <input type="text" class="form-control" id="balance" placeholder="Balance"
                 formControlName="balance"
                 [ngModel]="account?.balance"
                 (ngModelChange)="(account!=undefined)?account.balance = $event:''"
                 [class.error]="!accountForm.controls['balance'].valid && accountForm.controls['balance'].touched">
          <div
            *ngIf="accountForm.controls['balance'].touched && accountForm.controls['balance'].hasError('required')"
            class="ui error message">Balance is required
          </div>
        </div>

        <div class="form-group">
          <label for="lastBalance">Last Balance</label>
          <input type="text" class="form-control" id="lastBalance" placeholder="Last Balance"
                 formControlName="lastBalance"
                 [ngModel]="account?.lastBalance"
                 (ngModelChange)="(account!=undefined)?account.lastBalance = $event:''"
                 [class.error]="!accountForm.controls['lastBalance'].valid && accountForm.controls['lastBalance'].touched">
          <div
            *ngIf="accountForm.controls['lastBalance'].touched && accountForm.controls['lastBalance'].hasError('required')"
            class="ui error message">Last Balance is required
          </div>
        </div>

        <div class="form-group">
          <label for="score">Score</label>
          <input type="text" class="form-control" id="score" placeholder="Score"
                 formControlName="score"
                 [ngModel]="account?.score"
                 (ngModelChange)="(account!=undefined)?account.score = $event:''"
                 [class.error]="!accountForm.controls['score'].valid && accountForm.controls['score'].touched">
          <div
            *ngIf="accountForm.controls['score'].touched && accountForm.controls['score'].hasError('required')"
            class="ui error message">Score is required
          </div>
        </div>

        <div class="form-group">
          <label for="withdrawalRestriction">Withdrawal Restriction</label>
          <input type="text" class="form-control" id="withdrawalRestriction" placeholder="Withdrawal Restriction"
                 formControlName="withdrawalRestriction"
                 [ngModel]="account?.withdrawalRestriction"
                 (ngModelChange)="(account!=undefined)?account.withdrawalRestriction = $event:''"
                 [class.error]="!accountForm.controls['withdrawalRestriction'].valid && accountForm.controls['withdrawalRestriction'].touched">
          <div
            *ngIf="accountForm.controls['withdrawalRestriction'].touched && accountForm.controls['withdrawalRestriction'].hasError('required')"
            class="ui error message">Withdrawal Restriction is required
          </div>
        </div>

        <div class="form-group">
          <label for="withdrawalLimit">Withdrawal Limit</label>
          <input type="text" class="form-control" id="withdrawalLimit" placeholder="Withdrawal Limit"
                 formControlName="withdrawalLimit"
                 [ngModel]="account?.withdrawalLimit"
                 (ngModelChange)="(account!=undefined)?account.withdrawalLimit = $event:''"
                 [class.error]="!accountForm.controls['withdrawalLimit'].valid && accountForm.controls['withdrawalLimit'].touched">
          <div
            *ngIf="accountForm.controls['withdrawalLimit'].touched && accountForm.controls['withdrawalLimit'].hasError('required')"
            class="ui error message">Withdrawal Limit is required
          </div>
        </div>

        <div class="form-group">
          <label for="overdrawLimit">Overdraft Limit</label>
          <input type="text" class="form-control" id="overdrawLimit" placeholder="Overdraft Limit"
                 formControlName="overdrawLimit"
                 [ngModel]="account?.overdrawLimit"
                 (ngModelChange)="(account!=undefined)?account.overdrawLimit = $event:''"
                 [class.error]="!accountForm.controls['overdrawLimit'].valid && accountForm.controls['overdrawLimit'].touched">
          <div
            *ngIf="accountForm.controls['overdrawLimit'].touched && accountForm.controls['overdrawLimit'].hasError('required')"
            class="ui error message">Overdraft Limit is required
          </div>
        </div>

        <div class="form-group">
          <label for="accrualRate">Accrual Rate</label>
          <input type="text" class="form-control" id="accrualRate" placeholder="Accrual Rate"
                 formControlName="accrualRate"
                 [ngModel]="account?.accrualRate"
                 (ngModelChange)="(account!=undefined)?account.accrualRate = $event:''"
                 [class.error]="!accountForm.controls['accrualRate'].valid && accountForm.controls['accrualRate'].touched">
          <div
            *ngIf="accountForm.controls['accrualRate'].touched && accountForm.controls['accrualRate'].hasError('required')"
            class="ui error message">Accrual Rate is required
          </div>
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" formControlName="status"
                  [ngModel]="account?.status"
                  (ngModelChange)="(account!=undefined)?account.status = $event:''">
            <option>ACTIVE</option>
            <option>INACTIVE</option>
          </select>
        </div>

        <button type="submit" class="btn btn-info mr-2"
                [disabled]="accountForm.invalid"
                (click)="save()">
          <div class="spinner-border text-info" *ngIf="busy"></div>
          Save
        </button>
        <button class="btn btn-danger" (click)="accountModal.close()">Cancel</button>
      </form>
    </div>
  </div>
</ngx-smart-modal>
