<!--<div class="col-12 grid-margin">-->
  <!--<div class="card xstretch-card">-->
    <!--<div class="card-body">-->
      <h4 class="card-title">Customers</h4>
      <p class="card-description"> Manage Customers</p>
      <div style="float:right">
        <button class="btn btn-info" (click)="showCustomerDialog('Add',undefined)">Add</button>
      </div>
      <p *ngIf="customers.length <= 0">No customers found.</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover" *ngIf="customers.length > 0">
          <thead>
          <tr>
            <th> #</th>
            <th> Name</th>
            <th> DOB</th>
            <th> Gender</th>
            <th> Active</th>
            <th> Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers; index as i">
            <td>{{i+1}}</td>
            <td>{{customer.firstName+' '+customer.lastName}}</td>
            <td>{{customer.dateOfBirth | date:'y-MM-dd'}}</td>
            <td>{{(customer.male)?'Male':'Female'}}</td>
            <td>
          <span class="badge {{(customer.status=='ACTIVE')?'badge-success':'badge-danger'}}">
           {{(customer.status=='ACTIVE')?'Yes':'No'}}
           </span>
            </td>
            <td>
              <div class="actions-list">
                <span title="Edit" (click)="showCustomerDialog('Edit',customer)"><i class="mdi mdi-table-edit"></i></span>
                <span title="Delete" (click)="confirmDelete(customer)"><i class="mdi mdi-delete"></i></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<ngx-smart-modal #deleteModal identifier="deleteModal">
  <h3>Deleting</h3>
  <p>Are you sure you want to delete <strong>{{customerToDelete?.firstName}} {{customerToDelete?.lastName}}</strong>?</p>

  <button (click)="delete()" class="btn btn-info mr-2">Yes</button>
  <button (click)="deleteModal.close()" class="btn btn-danger">No</button>
</ngx-smart-modal>

<app-customer [customer]="customerToEdit" [action]="action" (customerChange)="updateCustomerList($event)"></app-customer>

