<!--<div class="col-12 grid-margin">-->
  <!--<div class="card stretch-card">-->
    <!--<div class="card-body">-->
      <div class="row">
        <div class="col-4 stretch-card grid-margin">
          <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
              <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
              <h4 class="font-weight-normal mb-3">DYNAMIC DASHBOARD <i
                class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
              </h4>
              <h6 class="card-text">
                <table width="70%" xclass="dashboard">
                  <tr>
                    <td>ACCOUNT NUMBER:</td>
                    <td style="vertical-align: bottom">{{account?.accountId}}</td>
                  </tr>
                  <tr>
                    <td>NAME:</td>
                    <td style="white-space: nowrap">{{account?.owner?.firstName+" "+account?.owner?.lastName}}</td>
                  </tr>
                  <tr>
                    <td>SCORE:</td>
                    <td>{{account?.score}}</td>
                  </tr>
                </table>
              </h6>
            </div>
          </div>
        </div>

        <div class="col-4 stretch-card grid-margin">
          <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
              <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
              <h4 class="font-weight-normal mb-3">ASSETS <i class="mdi mdi-chart-arc mdi-24px float-right"></i>
              </h4>
              <h4 class="mb-4">{{totalAssets | currency:'R '}}</h4>
              <h6 class="card-text">
                <table width="70%" class="dashboard" style="font-size: 75%">
                  <tr>
                    <td colspan="2">CASH: {{totalCash | currency:'R '}}</td>
                  </tr>
                  <tr>
                    <td>
                      <table style="font-size: 66%">
                        <tr>
                          <td>SAVINGS:</td>
                          <td>{{savings | currency:'R '}}</td>
                        </tr>
                        <tr>
                          <td>CURRENT:</td>
                          <td>{{current | currency:'R '}}</td>
                        </tr>
                      </table>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="2">INVESTMENTS: {{totalInvestments | currency:'R '}}</td>
                  </tr>

                  <tr>
                    <td>
                      <table style="font-size: 66%">
                        <tr>
                          <td>CALL ACCOUNT:</td>
                          <td>{{callAccount | currency:'R '}}</td>
                        </tr>
                        <tr>
                          <td>UNIT TRUST:</td>
                          <td>{{unitTrust | currency:'R '}}</td>
                        </tr>
                      </table>
                    </td>
                    <td></td>
                  </tr>
                </table>
              </h6>
            </div>
          </div>
        </div>

        <div class="col-4 stretch-card grid-margin">
          <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
              <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
              <h4 class="font-weight-normal mb-3">LIABILITIES <i
                class="mdi mdi-chart-line mdi-24px float-right"></i>
              </h4>
              <h4 class="mb-4">{{totalLiabilities | currency:'R '}}</h4>
              <h6 class="card-text">
                <table width="70%" class="dashboard"  style="font-size: 75%">
                  <tr>
                    <td colspan="2">LOANS: {{totalLoans | currency:'R '}}</td>
                  </tr>
                  <tr>
                    <td>
                      <table style="font-size: 66%">
                        <tr>
                          <td>VEHICLE LOAN:</td>
                          <td>{{vehicleLoan | currency:'R '}}</td>
                        </tr>
                        <tr>
                          <td>PERSONAL LOAN:</td>
                          <td>{{personalLoan | currency:'R '}}</td>
                        </tr>
                      </table>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="2">MORTGAGES: {{totalMortgages | currency:'R '}}</td>
                  </tr>
                  <tr>
                    <td>
                      <table style="font-size: 66%">
                        <tr>
                          <td>RESIDENTIAL LOAN:</td>
                          <td>{{residentialLoan | currency:'R '}}</td>
                        </tr>
                      </table>
                    </td>
                    <td></td>
                  </tr>
                </table>
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <div class="card">
            <div class="card-body notifications-card-body">
              <h4 class="card-title">TRANSACTIONS</h4>
              <div class="table-responsive fixed-table-body table-bordered">
                <table class="table table-hover " *ngIf="transactions.length > 0">
                  <thead>
                  <tr>
                    <th> Name</th>
                    <th> Type</th>
                    <th> Field Name</th>
                    <th> Source Value</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let transaction of transactions; index as i">
                    <td>{{transaction.name}}</td>
                    <td>{{transaction.transactionValueType}}</td>
                    <td>{{transaction.sourceClassFieldName}}</td>
                    <td>{{transaction.sourceValue}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <div class="card-body notifications-card-body">
              <h4 class="card-title">NOTIFICATIONS</h4>
              <div class="table-responsive fixed-table-body table-bordered">
                <table class="table table-hover" *ngIf="transactions.length > 0">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Transaction</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let event of events; index as i">
                    <td>{{event.creationDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{event.type}}</td>
                    <td>{{event.transactionType}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
