<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Digital Bank</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="assets/js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="assets/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="assets/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script>
    var closeMenu = function() {
      $("body").on("click",'#navbarSupportedContent > ul > li > a:not([role="button"]),' +
        '#navbarSupportedContent > ul > li > div > a', function (e) {
        if ($("#navbarSupportedContent").hasClass('show')) {
          $( "button[data-target='#navbarSupportedContent']" ).trigger("click");
//          $( "button[data-target='#navbarSupportedContent']" ).addClass('collapsed')
//          $("#navbarSupportedContent").removeClass('show')
        }
      });
    }

    $(document).ready(function(){
      closeMenu();
    });

  </script>
</head>
<body>
  <app-root></app-root>

  <!--<script src="assets/vendors/js/vendor.bundle.base.js"></script>-->
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!--<script src="assets/vendors/chart.js/Chart.min.js"></script>-->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <!--<script src="assets/js/off-canvas.js"></script>-->
  <!--<script src="assets/js/hoverable-collapse.js"></script>-->
  <!--<script src="assets/js/misc.js"></script>-->
  <!-- endinject -->
  <!-- Custom js for this page -->
  <!--<script src="assets/js/dashboard.js"></script>-->
  <!--<script src="assets/js/todolist.js"></script>-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>

<footer class="footer" *ngIf="isAuthenticated()">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a
            routerLink="['/']" routerLinkActive="active">RHYTHMWORX</a>. All rights reserved.</span>
  </div>
</footer>

</html>

