@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/vendors/mdi/css/materialdesignicons.min.css";
@import "assets/vendors/css/vendor.bundle.base.css";
@import "assets/css/style.css";
@import "../node_modules/ngx-smart-modal/ngx-smart-modal.css";

.error {
  color: red;
}

input[type="text"].error {
  border: 1px solid red;
}


.cdk-overlay-container {
  z-index: 99999 !important;
}

