<nav class="navbar navbar-dark bg-primary" *ngIf="isAuthenticated()">

  <span class="text-secondary text-small"><strong>{{currentDate | date: 'dd MMMM yyyy'}}</strong></span>
  <span class="text-secondary text-small">{{currentUser()?.firstName+" "+currentUser()?.lastName}}</span>
  <span class="text-secondary text-small">{{currentUser()?.role}} {{(currentVendor())?'-':""}} {{currentVendor()?.name}}</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="currentUser()?.role == 'SUPER_USER' || currentUser().role == 'VENDOR_ADMIN'">
        <a class="nav-link" [routerLink]="['/vendor-list']" routerLinkActive="active">Vendors</a>
      </li>
      <li *ngIf="currentUser()?.role == 'SUPER_USER' || currentUser().role == 'VENDOR_ADMIN'">
        <a class="nav-link" [routerLink]="['/department-list']" routerLinkActive="active">Departments</a>
      </li>
      <li *ngIf="currentUser()?.role == 'SUPER_USER' || currentUser().role == 'VENDOR_ADMIN' || currentUser().role == 'DEPT_ADMIN'">
        <a class="nav-link" [routerLink]="['/users-list']" routerLinkActive="active">Users</a>
      </li>
      <li *ngIf="currentUser().role == 'SUPER_USER' || currentUser().role == 'DEPT_ADMIN' || currentUser().role == 'DEPT_USER'">
        <a class="nav-link" [routerLink]="['/customer-list']" routerLinkActive="active">Customers</a>
      </li>

      <li class="nav-item dropdown" *ngIf="currentUser().role == 'SUPER_USER' || currentUser().role == 'DEPT_USER'
       || currentUser().role == 'CLIENT_USER'">
        <a class="nav-link dropdown-toggle" id="transactionalDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Transactional
        </a>
        <div class="dropdown-menu" aria-labelledby="transactionalDropdown">
          <a class="dropdown-item" [routerLink]="['/instructions']" routerLinkActive="active">Instructions</a>
          <a class="dropdown-item" [routerLink]="['/transactions']" routerLinkActive="active">Transactions</a>
          <a class="dropdown-item" [routerLink]="['/parameters']" routerLinkActive="active">Parameters</a>
          <a class="dropdown-item" [routerLink]="['/commands']" routerLinkActive="active">Command</a>
          <a class="dropdown-item" [routerLink]="['/assets']" routerLinkActive="active">Assets</a>
          <a class="dropdown-item" [routerLink]="['/accounts']" routerLinkActive="active">Accounts</a>
        </div>
      </li>

      <div class="dropdown-divider"></div>

      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
           <!--aria-haspopup="true" aria-expanded="false">-->
          <!--Profile-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--<a class="dropdown-item" (click)="logout()">Logout</a>-->
        <!--</div>-->
      <!--</li>-->

      <li>
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
