<!--<div class="container-scroller" *ngIf="!done">-->
  <!--<div class="container-fluid page-body-wrapper full-page-wrapper">-->
    <!--<div class="content-wrapper d-flex align-items-center auth">-->
      <!--<div class="row flex-grow">-->
        <!--<div class="col-lg-5 mx-auto">-->
          <!--<div class="col-12 grid-margin stretch-card">-->
            <!--<div class="card">-->
              <!--<div class="card-body">-->
                <!--<div class="brand-logo">-->
                  <!--<img src="./assets/images/login_logo.png" height="150" alt="logo" />-->
                <!--</div>-->
                <h4 class="card-title">Congratulations</h4>
                <p class="card-description">You account has been activated. Click the button below to login.</p>
                <button class="btn btn-info" [routerLink]="['/login']">Login</button>
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
