<ngx-smart-modal #customerModal identifier="customerModal">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{action}} customer</h4>
      <form class="forms-sample" [formGroup]="customerForm">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName"
                 placeholder="First Name"
                 [ngModel]="customer?.firstName"
                 (ngModelChange)="(customer!=undefined)?customer.firstName = $event:''"
                 [class.error]="!customerForm.controls['firstName'].valid && customerForm.controls['firstName'].touched">
          <div
            *ngIf="customerForm.controls['firstName'].touched && customerForm.controls['firstName'].hasError('required')"
            class="ui error message">First name is required
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                 formControlName="lastName"
                 [ngModel]="customer?.lastName"
                 (ngModelChange)="(customer!=undefined)?customer.lastName = $event:''"
                 [class.error]="!customerForm.controls['lastName'].valid && customerForm.controls['lastName'].touched">
          <div
            *ngIf="customerForm.controls['lastName'].touched && customerForm.controls['lastName'].hasError('required')"
            class="ui error message">Last name is required
          </div>
        </div>

        <div class="form-group">
          <label for="dateOfBirth">Date of Birth</label>
          <div class="input-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Select DOB"
                   [class.error]="!customerForm.controls['dateOfBirth'].valid && customerForm.controls['dateOfBirth'].touched"
                   id="dateOfBirth" formControlName="dateOfBirth"
                   [ngModel]="customer?.dateOfBirth"
                   (ngModelChange)="(customer!=undefined)?customer.dateOfBirth = $event:''">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div
            *ngIf="customerForm.controls['dateOfBirth'].touched && customerForm.controls['dateOfBirth'].hasError('required')"
            class="ui error message">Date of birth is required
          </div>
            </div>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" formControlName="gender"
                  [ngModel]="customer?.gender"
                  (ngModelChange)="(customer!=undefined)?customer.gender = $event:''"
                  [class.error]="!customerForm.controls['gender'].valid && customerForm.controls['gender'].touched">
            <option>Male</option>
            <option>Female</option>
          </select>
          <div
            *ngIf="customerForm.controls['gender'].touched && customerForm.controls['gender'].hasError('required')"
            class="ui error message">Gender is required
          </div>
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" formControlName="status"
                  [ngModel]="customer?.status"
                  (ngModelChange)="(customer!=undefined)?customer.status = $event:''">
            <option>ACTIVE</option>
            <option>INACTIVE</option>
          </select>
        </div>

        <button type="submit" class="btn btn-info mr-2"
                [disabled]="customerForm.invalid"
                (click)="save()">
          <div class="spinner-border text-info" *ngIf="busy"></div>
          Save
        </button>
        <button class="btn btn-danger" (click)="customerModal.close()">Cancel</button>
      </form>
    </div>
  </div>
</ngx-smart-modal>
