<div class="container-scroller" *ngIf="!done">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-5 mx-auto">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="brand-logo">
                  <img src="./assets/images/login_logo.png" alt="logo" />
                </div>
                <h4 class="card-title">Reset Password</h4>
                <!--<p class="card-description">Enter your new password.</p>-->
                <form class="forms-sample" [formGroup]="resetPasswordForm">

                  <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" placeholder="New Password"
                           formControlName="password" [(ngModel)]="user.password"
                           [class.error]="!resetPasswordForm.controls['password'].valid && resetPasswordForm.controls['password'].touched">
                    <div
                      *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].hasError('required')"
                      class="ui error message">Password is required
                    </div>

                    <div
                      *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].hasError('minlength')"
                      class="ui error message">Password must be at least 6 characters
                    </div>

                  </div>

                  <div class="form-group">
                    <label for="passwordConfirm">Repeat Password</label>
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Repeat Password"
                           formControlName="passwordConfirm" [(ngModel)]="passwordConfirm">
                    <div
                      *ngIf="resetPasswordForm.controls['passwordConfirm'].touched && resetPasswordForm.controls['passwordConfirm'].hasError('required')"
                      class="ui error message">Password confirmation required
                    </div>

                    <div
                      *ngIf="resetPasswordForm.controls['passwordConfirm'].touched && resetPasswordForm.controls['passwordConfirm'].hasError('passwordmatch')"
                      class="ui error message">Passwords don't match
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <button type="submit" class="btn btn-info mr-2"
                              [disabled]="resetPasswordForm.invalid"
                              (click)="reset()">
                        <div class="spinner-border text-info" *ngIf="busy"></div>
                        Reset
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-scroller" *ngIf="done">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-8 mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="brand-logo">
                <img src="./assets/images/login_logo.png" alt="logo" />
              </div>
              <h4 class="card-title">Thank you</h4>
              <span>Your password has been reset, please click the button below to login.</span>
              <p></p>
              <button class="btn btn-info" (click)="home()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
